  <%- include('partials/head') %>
  <body>
    <header>
      <h1 class="text-red-700 text-5xl" >Welcome to airbnb</h1>
    </header>
    <main>
      <a href="/host/add-home">Add Home</a>
      <ul>
          <% registered.forEach(home=>{ %>
            <li>
          <%= home.hname %>
            </li>
        <%  })%>
        
      </ul>
    </main>
  </body>
</html>
